/* 
   Created on : 04/03/2015, 03:30:07 PM
   Author     : mejiaw
*/
body {
    
}

form {
    width: 100%;
}

h1 {
    font-size: 22px;
    color: #000000;
}

h2 {
    font-size: 14px;
    color: #000000;
}

.titulo_centrado {
    text-align: center;
}
.texto_tiulo_baner {
    font-size: 16px;
    color: #DC143C;
    font-weight: bold;
}
.texto_centrado {
    text-align: center;
}

.texto_centrado_2 {
    margin: 0 auto;
}

#header {
    position: relative;
    background-color: #ffffff;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

.center_content {
    position: relative;
    background-color: #f4f4f4;
    padding: 5px;
    text-align: justify;
}

#footer {
    position: relative;
    background-color: #f3eded;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    text-align: center;
}

.style_orange {
    background-color: orange;
}

.img_header_2 {
    float: right;
}

.panel_grid_center {
    margin: 0 auto;
    width: 750px;
}

.panel_grid_center_2 {
    margin: 0 auto;
}

.panel_grid_center_3 {
    margin: 0 auto;
    width: 100%;
}

.size_botones_internos {
    width: 100px;
    height: 35px;
}

.tabla_cursos {
    width: 500px;
}

.texto_1 {
    font-size: 10px;
}

.texto_2 {
    font-size: 11px;
}

.texto_tabla_datos {
    font-size: 12px;
    width: 100%;
    padding-right: 10px;
}

.texto_tabla_datos_codigo {
    font-weight: bold;
}

.texto_tabla_detalle {
    font-size: 0.8em;
}

.panel_grid_center_login {
    margin: 0 auto;
    width: 30%;
    text-align: left;
}

.panel_grid_usuario {
    width: 100%;
}

.form-label-width {
    text-align: right;
    padding: 3px;
    vertical-align: middle;
    background-color: #eee;
    width: 26%;
}
.form-label-width-sinrelleno {
    text-align: right;
    padding: 3px;
    vertical-align: middle;
    width: 26%;
}
.form-label {
    text-align: right;
    padding: 3px;
    vertical-align: middle;
    background-color: #eee;
    width: 50%;
}

.form-input {
    text-align: left;
    padding: 3px;
    vertical-align: middle;
    width: 93%;
}

.textarea {
    text-align: left;
    padding: 3px;
    vertical-align: middle;
}

.columnHome{
    width:184px;
    text-align: center;
}

.botonHome{
    text-align:center;
    font-size: 16px;
    width:130px;
    /*color:gray;*/
    margin-bottom: 0px; 
}

.centrado{
    text-align: center;
}

h2 {
    color: white;
}

.form-input-bold {
    text-align: left;
    padding: 3px;
    vertical-align: middle;
    width: 93%;
    color: black;
    font-weight: bolder;
}

.form-input_ancho {
    text-align: left;
    padding: 3px;
    vertical-align: middle;
    width: 95%;
}

.listaCoordenadas {
    font-size: 11px;
    margin: 0 auto;
    width: 750px;
}

.panelCentrado {
    margin: 0 auto;
    width: 750px;
}

.panelCentrado.ui-panel-content, .panelCentrado.ui-widget-content{
    border: none;
}

.panelSinBorde {
    
}
/*Sirve para quitar el borde del panel grid*/
.panelSinBorde.ui-panelgrid>*>tr,
.panelSinBorde.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.consulta625 table { border-collapse: collapse; text-align: left; width: 100%; }
.consulta625 {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.consulta625 table td, .consulta625 table th { padding: 3px 10px; }
.consulta625 table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#ffffff; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; text-align: center; vertical-align: top;}
.consulta625 table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }
.consulta625 table tbody .alt td { background: #E1EEF4; color: #00496B; }
.consulta625 table tbody td:nth-child(1) {text-align: right;}
.consulta625 table tbody td:nth-child(2) {text-align: center;}
.consulta625 table tbody td:nth-child(3) {text-align: right;}
.consulta625 table tbody td:nth-child(4) {text-align: right;}
.consulta625 table tbody td:nth-child(5) {text-align: right;}

.consulta626 table { border-collapse: collapse; text-align: left; width: 100%; }
.consulta626 {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.consulta626 table td, .consulta626 table th { padding: 3px 10px; }
.consulta626 table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#ffffff; font-size: 12px; font-weight: bold; border-left: 1px solid #0070A8; text-align: center; vertical-align: top;}
.consulta626 table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal;}
.consulta626 table tbody .alt td { background: #E1EEF4; color: #00496B; }
.consulta626 table tbody td:nth-child(1) {text-align: right;}
.consulta626 table tbody td:nth-child(2) {text-align: right;}
.consulta626 table tbody td:nth-child(3) {text-align: right;}
.consulta626 table tbody td:nth-child(4) {text-align: left;}
.consulta626 table tbody td:nth-child(5) {text-align: left;}
.consulta626 table tbody td:nth-child(6) {text-align: center;}
.consulta626 table tbody td:nth-child(7) {text-align: center;}
.consulta626 table tbody td:nth-child(9) {text-align: center;}
.consulta626 table tbody td:nth-child(10) {text-align: center;}
.consulta626 table tbody td:nth-child(11) {text-align: center;}
.consulta626 table tbody td:nth-child(12) {text-align: center;}
.consulta626 table tbody td:nth-child(13) {text-align: center;}
.consulta626 table tbody td:nth-child(14) {text-align: center;}
.consulta626 table tbody td:nth-child(15) {text-align: right;}
.consulta626 table tbody td:nth-child(16) {text-align: right;}
.consulta626 table tbody td:nth-child(17) {text-align: right;}
.consulta626 table tbody td:nth-child(18) {text-align: right;}
.consulta626 table tbody td:nth-child(19) {text-align: right;}
.consulta626 table tbody td:nth-child(20) {text-align: right;}
.consulta626 table tbody td:nth-child(21) {text-align: right;}
.consulta626 table tbody td:nth-child(22) {text-align: right;}

.consulta627 table { border-collapse: collapse; text-align: left; width: 100%; }
.consulta627 {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.consulta627 table td, .consulta627 table th { padding: 3px 10px; }
.consulta627 table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#ffffff; font-size: 12px; font-weight: bold; border-left: 1px solid #0070A8; text-align: center; vertical-align: top; }
.consulta627 table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal;}
.consulta627 table tbody .alt td { background: #E1EEF4; color: #00496B; }
.consulta627 table tbody td:nth-child(1) {text-align: right;}
.consulta627 table tbody td:nth-child(2) {text-align: right;}
.consulta627 table tbody td:nth-child(3) {text-align: right;}
.consulta627 table tbody td:nth-child(4) {text-align: left;}
.consulta627 table tbody td:nth-child(5) {text-align: left;}
.consulta627 table tbody td:nth-child(6) {text-align: center;}
.consulta627 table tbody td:nth-child(7) {text-align: center;}
.consulta627 table tbody td:nth-child(8) {text-align: left;}
.consulta627 table tbody td:nth-child(9) {text-align: left;}
.consulta627 table tbody td:nth-child(10) {text-align: center;}
.consulta627 table tbody td:nth-child(11) {text-align: center;}
.consulta627 table tbody td:nth-child(12) {text-align: center;}
.consulta627 table tbody td:nth-child(13) {text-align: right;}
.consulta627 table tbody td:nth-child(14) {text-align: right;}

.consulta628 table { border-collapse: collapse; width: 100%; }
.consulta628 {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.consulta628 table td, .consulta628 table th { padding: 3px 10px; }
.consulta628 table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#ffffff; font-size: 14px; font-weight: bold; border-left: 1px solid #0070A8; text-align: center; vertical-align: top; }
.consulta628 table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal;}
.consulta628 table tbody .alt td { background: #E1EEF4; color: #00496B; }
.consulta628 table tbody td:nth-child(1) {text-align: left;}
.consulta628 table tbody td:nth-child(1) {text-align: left;}

/*Centrar los botones del dialogo de confirmacion*/
.ui-dialog-buttonpane {
    text-align: center !important;
}

.pg-center {
    margin: 0 auto;
}

/*Sirve para quitar el borde del panel grid*/
.pg-center.ui-panelgrid>*>tr,
.pg-center.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.pg-center-02 {
    margin: 0 auto;
    width: 999px;
}

/*Sirve para quitar el borde del panel grid*/
.pg-center-02.ui-panelgrid>*>tr,
.pg-center-02.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.pg-center-03 {
    margin: 0 auto;
}

.inputtext-form {
    width: 270px !important;
}

.inputtextarea-form {
    width: 270px !important;
    height: 85px !important;
}

.inputtextarea-form-02 {
    width: 700px !important;
    height: 100px !important;
}

/*Cambiar el tamaño del input del calendar*/
.calendar-form {
    
}
.calendar-form input {
    width: 270px !important;
}

/*Cambiar el tamaño del select one menu*/
.onemenu-form {
    width: 278px !important;
}

/* link */
.lnkadjuntos {
    text-decoration: none;
}
a.lnkadjuntos:link {
    color: #000000;
}
/* visited link */
a.lnkadjuntos:visited {
    color: #000000;
}
/* mouse over link */
a.lnkadjuntos:hover {
    color: #FF6600;
}
/* selected link */
a.lnkadjuntos:active {
    color: buttonface;
}

.endbutton {
    margin: 0 auto;
    width: 150px;
    height: 35px;
}

.pg-right {
    margin: 0 auto;
    width: 100%;
}

/*Sirve para quitar el borde del panel grid*/
.pg-right.ui-panelgrid>*>tr,
.pg-right.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

/* link */
.lnkexport {
    text-decoration: none;
}
a.lnkexport:link {
    color: #000000;
}
/* visited link */
a.lnkexport:visited {
    color: #000000;
}
/* mouse over link */
a.lnkexport:hover {
    color: #FF6600;
}
/* selected link */
a.lnkexport:active {
    color: buttonface;
}